.App {
  text-align: center;
}

/* iframe {
  width: 100%;
  height: 100%;
} */

body{
  background-color: rgb(27, 27, 27);
  color: white;
  /* overflow-y: hidden; */
  max-width: 100%
}

.Footer{
  background-color: black;
  margin-bottom: 0;
}
